html { 
    box-sizing: border-box;
}   

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Roboto', sans-serif;
    background: white;
}

.form {
    max-width: 750px;
    margin: 20px auto; 
    padding: 0 20px;
}

.converter {
    border-radius: 5px;

}

.converter__title {
    text-align: center;
    width: 300px;
    margin: 10px auto;
    font-size: 60px;
    border-radius: 5px;
    background: teal;
    color: white;
}

.converter__text {
    width: 184px;
    display: inline-block;
    font-size: 18px;
}

.converter__field {
    font-size: 20px;
    border: 1px solid #ccc;
    padding: 15px;
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    text-align: center;
}

.converter__field--important {
    font-size: 20px;
    border: 1px solid #ccc;
    padding: 15px;
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.converter__field--important:disabled {
    background: hsl(0, 0%, 95%);

}

.converter__option {
    text-align: left;
}

.button {
    text-align: center;
    width: 100%;
    margin-top: 5px ;
    margin-right: 20px;
    margin-bottom: 10px;
    border: 1px solid teal;
    background: #9ac7c7;
    border-radius: 5px;
    font-size: 25px;
    height: 60px;
    font-weight: bold;
}

.button:hover {
    background: teal;
    color: white;
    cursor:pointer;
    
}